@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

table {
    margin: 100px auto;
    border: 3px solid white;
    border-collapse: collapse;
    width: 80%;
    color: white;
    background-color: pink;
    font-size: 180%;
    font-family: 'Open Sans', sans-serif;
}

th, td {
    border: 3px solid white;
    padding: 1rem;
    text-align: left;
}
thead {
    background-color: rgb(146, 26, 110);
}

tbody tr:nth-of-type(even) {
    background-color: rgb(158, 79, 142);
}  

tbody tr:nth-of-type(odd) {
    background-color: rgb(238, 125, 216);
}